<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__info">
        <div class="contacts__logo">
          <img src="./img/logo.svg" alt="">
        </div>
        <div class="contacts__info-wrapper">
          <div class="contacts__info-col">
            <div class="contacts__info-text text-address">123056, г. Москва, ул. Васильевская, дом 13, стр. 2, комната 9, этаж 1</div>
          </div>
          <div class="contacts__info-col">
            <a class="contacts__info-text text-email" href="mailto:info@rdecs.pro">info@rdecs.pro</a>
            <a class="contacts__info-text text-phone" href="tel:+74953637397">+7 (495) 363 73 97</a>
          </div>
        </div>
      </div>
      <div class="contacts__footer">
        <div class="contacts__scroll">К началу</div>
        <!--<div class="contacts__policy"><a href="javascript:void(0);" target="_blank">Пользовательское соглашение</a> и <a href="javascript:void(0);" target="_blank">конфидициальность.</a></div>-->
        <div class="contacts__years">2014 – 2023 НИИКС</div>
      </div>
    </div>
  </div>
</section>
