<section id="intro" class="intro">
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__info">
        <h1 class="intro__title"><span>Научно-исследовательский</span><br> институт коммуникационных стратегий</h1>
        <div class="intro__description">НИИКС разрабатывает и предоставляет коммуникационные инструменты для бизнеса, корпораций, госорганов. В основе индивидуальных комплексных стратегий для социальных систем лежит пласт гуманитарных, психосемантических и социокультурных исследований. Гуманитарные технологии от НИИКС позволяют систематизировать и рационализировать общественно-политический диалог, достичь взаимопонимания между субъектами.</div>
      </div>
      <div class="intro__footer">
        <div class="intro__scroll">Скролл</div>
      </div>
    </div>
  </div>
</section>
