@import "partials/params";
@import "partials/mixins";

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100%;
  overflow: hidden;

  & .swiper-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
    margin: 0 auto;
    overflow: hidden
  }

  & .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin: 0 auto;
  }

  & .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.slide-red {
      & .projects {
        &__box {
          &-img {
            &:before {
              background-color: $project-color-red;
            }
          }
        }
      }
    }

    &.slide-green {
      & .projects {
        &__box {
          &-img {
            &:before {
              background-color: $project-color-green;
            }
          }
        }
      }
    }

    &.slide-blue {
      & .projects {
        &__box {
          &-img {
            &:before {
              background-color: $project-color-blue;
            }
          }
        }
      }
    }
  }

  &__navigation {
    position: absolute;
    bottom: 36px;
    left: 0;
    transform: translateY(50%);
    width: 100%;
    height: 24px;
    pointer-events: none;
    z-index: 3;
    @media screen and ($tablet1) {
      bottom: 46px;
      width: 400px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    position: absolute;
    outline: none;
    width: 12px;
    height: 24px;
    display: block;
    bottom: 50%;
    transform: translateY(42%);
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s;

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:after {
      content: '';
    }

    & svg {
      position: absolute;
      width: 12px;
      height: 24px;
      stroke: #E0E0E0;
      transition:  stroke 0.3s;
    }

    &:hover{
      & svg {
        stroke: $white;
        transition: stroke 0.3s;
      }
    }
  }

  & .swiper-button-prev {
    left: 15px;
    @media screen and ($tablet1) {
      left: 0;
    }
  }

  & .swiper-button-next {
    right: 15px;
    @media screen and ($tablet1) {
      right: 0;
    }
  }

  & .swiper-pagination {
    position: absolute;
    white-space: nowrap;
    padding: 2px 0;
    bottom: 36px;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, 50%);
    @media screen and ($tablet1) {
      bottom: 46px;
    }

    & .swiper-pagination-bullet {
      position: relative;
      width: 32px;
      height: 4px;
      border-radius: 10px;
      background-color: rgba(255,255,255,0.3);
      margin: 0 5px;
      transform: scale(1);
      opacity: 1;
      z-index: 2;
      overflow: hidden;
      transition: background-color 0.3s, transform 0.3s, left 0.3s;
      @media screen and ($tablet1) {
        width: 46px;
      }

      &:hover {
        background-color: rgba(255,255,255,0.5);
      }

      &:before {
        content: '';
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 10px;
        transform: translateX(0%);
        transition: transform 7s;
        opacity: 0;
      }

      &.swiper-pagination-bullet-active {
        background-color: rgba(255,255,255,0.3);
        opacity: 1;

        &:before {
          content: '';
          transform: translateX(100%);
          opacity: 1;
        }
      }
    }
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.slide-red {
      & .projects {
        &__box {
          &-img {
            &:before {
              background-color: $project-color-red;
            }
          }
        }
      }
    }

    &.slide-green {
      & .projects {
        &__box {
          &-img {
            &:before {
              background-color: $project-color-green;
            }
          }
        }
      }
    }

    &.slide-blue {
      & .projects {
        &__box {
          &-img {
            &:before {
              background-color: $project-color-blue;
            }
          }
        }
      }
    }

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      & img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
      }
    }

    &-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 1680px;
      padding: 144px 15px 72px;
      margin: 0 auto;
      z-index: 2;
      @media screen and ($tablet1) {
        padding: 180px 15px 90px;
      }
      @media screen and ($desktop1) {
        padding: 210px 20px 90px;
      }
    }

    &-caption {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      text-transform: uppercase;
      cursor: default;
      @media screen and ($tablet1) {
        font-size: 48px;
      }
      @media screen and ($tablet2) {
        font-size: 60px;
      }
      @media screen and ($desktop1) {
        font-size: 72px;
      }
      @media screen and ($desktop3) {
        font-size: 80px;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 1.3em;
      text-align: center;
      margin-top: 8px;
      @media screen and ($tablet1) {
        font-size: 16px;
        margin-top: 12px;
      }
      @media screen and ($desktop1) {
        font-size: 18px;
        margin-top: 24px;
      }
      @media screen and ($desktop3) {
        font-size: 20px;
      }
    }
  }
}

.projects__line {
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 2;
  @media screen and ($tablet1) {
    top: 90px;
    height: 90px;
  }
  @media screen and ($desktop1) {
    height: 120px;
  }
  @media screen and ($desktop4) {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
  }

  &-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1640px;
    height: 100%;
    z-index: 2;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    @media screen and ($desktop1) {
      width: calc(100% - 40px);
    }
  }

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 688px;
    -webkit-animation: ticker 20s infinite linear;
    -moz-animation: ticker 20s infinite linear;
    animation: ticker 20s infinite linear;
    @media screen and ($tablet1) {
      width: 1069px;
      -webkit-animation: ticker 30s infinite linear;
      -moz-animation: ticker 30s infinite linear;
      animation: ticker 30s infinite linear;
    }
    @media screen and ($desktop1) {
      width: 1620px;
      -webkit-animation: ticker 40s infinite linear;
      -moz-animation: ticker 40s infinite linear;
      animation: ticker 40s infinite linear;
    }
  }

  &-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 688px;
    @media screen and ($tablet1) {
      width: 1069px;
    }
    @media screen and ($desktop1) {
      width: 1620px;
    }
  }

  &-item {
    position: relative;
    width: auto;
    height: 38px;
    margin: 0 17px;
    @media screen and ($tablet1) {
      height: 55px;
      margin: 0 32px;
    }
    @media screen and ($desktop1) {
      height: 72px;
      margin: 0 64px;
    }

    & svg {
      width: auto;
      height: 38px;
      @media screen and ($tablet1) {
        height: 55px;
      }
      @media screen and ($desktop1) {
        height: 72px;
      }
    }
  }
}

@-moz-keyframes circle-rotate {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
  }
}
